<div class="onboarding-view alert-view">
    <div class="onboarding-container" ng-controller="AlertController as ctrl">
        <header>
            <img src="images/onboarding/ic_logo.png" />
        </header>
        <section style="padding-bottom: 15px;">
            <div class="light-very-large-text small-top-margin">Important notice</div>
            <div class="alert light-grey-text-almost-small almost-small-top-margin">
                On August 2nd / 3rd, the Ledger Ethereum Wallet Chrome App experienced a technical glitch. If you shared, copied or saved your address during this time period, please make sure the address is consistent with the reception address displayed at Receive tab.
            </div>
            <div class="alert detached extra-small-top-margin">
                <a ng-click="ctrl.openHelpCenter()">Click here for more information</a>
            </div>
            <div class="big-buttons-area small-top-margin">
                <div style="display: none" class="green" ng-click="ctrl.openMew()">
                    <p>Go to MyEtherWallet</p>
                </div>
                <div class="green" ng-click="ctrl.accept()">
                    <p>Continue</p>
                </div>
            </div>
        </section>
    </div>
</div>