<div class="onboarding-view alert-view">
    <div class="onboarding-container" ng-controller="AlertController as ctrl">
        <header>
            <img src="images/onboarding/ic_logo.png" />
        </header>
        <section>
            <img src="images/opening/ic_computer.png" />
            <div class="light-very-large-text small-top-margin">Important notice</div>
            <div class="alert light-grey-text-almost-small almost-small-top-margin">
                Due to the current temporary instability of our Ethereum nodes,<br>we recommend our users to use the Ledger integration of <a ng-click="ctrl.openMew()">myetherwallet.com</a>.
            </div>
            <div class="alert detached extra-small-top-margin">
                <a ng-click="ctrl.openHelpCenter()">More information</a>
            </div>
            <div class="big-buttons-area small-top-margin">
                <div class="green" ng-click="ctrl.openMew()">
                    <p>Go to MyEtherWallet</p>
                </div>
                <div class="grey" ng-click="ctrl.accept()">
                    <p>Use Ledger Wallet</p>
                </div>
            </div>
        </section>
    </div>
</div>