<div class="go-live-screen" ng-controller="LedgerLiveController as ctrl">
    <div class="content-frame">
        <div>
            <h3>PLEASE UPGRADE TO</h3>
            <h1>
                Ledger <b>Live</b>
            </h1>
            <h2>
                The all-in-one companion app<br/>replacing the Ledger Chrome apps
            </h2>
            <p>
                The Ledger Ethereum Chrome app is no longer available. Please install Ledger Live, the all-in-one application for your Ledger device that runs on Windows, Mac and Linux computers as well as iOS and Android smartphones.
            </p>
            <a id="go" ng-click="ctrl.download()">
                Get Ledger Live now!
            </a>
            <a id="support" ng-click="ctrl.openHelpCenter()">Contact support</a>
        </div>
    </div>
    <p>
        <img src="images/live/screenshot.png" width="277" height="237"/>
    </p>
</div>