<div class="go-live-screen" ng-controller="LedgerLiveController as ctrl">
    <div class="content-frame">
        <div>
            <h3>NOW AVAILABLE</h3>
            <h1>
                Ledger <b>Live</b>
            </h1>
            <h2>
                The all-in-one companion app<br/>for your Ledger devices
            </h2>
            <p>
                Ledger Live is a new all-in-one computer application for your Ledger device that runs on Windows, Mac and Linux. With a feature-packed, yet user-friendly experience for both power users and newbies, it is designed to replace the Ledger Chrome Apps.
            </p>
            <a id="go" ng-click="ctrl.download()">
                Get Ledger Live now!
            </a>
            <a id="support" ng-click="ctrl.openHelpCenter()">Contact support</a>
        </div>
    </div>
    <p>
        <img src="images/live/screenshot.png" width="277" height="237"/>
    </p>
</div>